.wy-table-responsive table td {
    white-space: normal !important;
    word-wrap: break-word; !important;
}
.wy-table-responsive table th {
    background-color: #2980b9;
    color: white;
}
.wy-table-responsive {
    display: block;
    width: 100%;
    max-width: 700px;
    overflow: visible !important;
}